@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&family=Shrikhand&display=swap');

@font-face {
	font-family: 'SUIT-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
.bebas { font-family: 'Bebas Neue', cursive; }
.shrikhand { font-family: 'Shrikhand', cursive; font-weight: 400; }
.grad { background-image: linear-gradient(40deg, #818cf8 0%, #818cf8 40%, #d946ef 100%); }
.suit { font-family: 'SUIT-Regular'; }
.roboto{ font-family: 'Roboto', sans-serif !important; }

.ani {
	transition-timing-function: cubic-bezier(.8,.09,1,.44);
	transition-delay: 400ms;
	transition: all 600ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.b_ani::before {
	transition-timing-function: cubic-bezier(.8,.09,1,.44);
	transition-delay: 400ms;
	transition: all 600ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.menu:hover .item::before, .menu:hover::before
{ width: 100% }

.btn:hover::before {
	left: 0;
	width: 100%;
	height:100%;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: #c7d2fe; border-radius: 20px; }
::-webkit-scrollbar-track { background: transparent; }

.chk { border: 1px solid red; }
.chk_box input { display: none; }
.chk_box span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.chk_box .icon {
	position: relative;
	width: 16px;
	height: 16px;
	border: solid 1px #818cf8;
	border-radius: 5px;
	transition: background 0.1s ease;
}
.chk_box .icon::after {
	content: '';
	position: absolute;
	top: 1.5px;
	left: 4.5px;
	width: 5px;
	height: 8px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg) scale(0);
	transition: all 0.3s ease;
	transition-delay: 0.15s;
	opacity: 0;
}
.chk_box input:checked ~ .icon {
	border-color: transparent;
	background: #818cf8;
	animation: jelly 0.6s ease;
}
.chk_box input:checked ~ .icon::after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}

@keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}

.pop_up {
	display: none;
	width: 130px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 30px;
	background-color: rgba(191, 162, 219, 0.2);
	color: #7F7C82;
	backdrop-filter: blur(2px);
	position: relative;
	animation: jelly 1s;
}

.pop_up::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 8px solid rgba(191, 162, 219, 0.2);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 15px solid transparent;
	left: 55px;
	top: 40px;
}

#one_line_result {
	padding: 20px;
	justify-content: center;
}

#logo:hover {animation: jelly 0.8s ease;}
